@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg-gradient {
  background-image: url('../../public/gradient.png');
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: 200%;
}

@media screen and (min-width: 640px) {
  .bg-gradient {
    background-image: url('../../public/gradientdesktop.png');
    background-size: 100%;
    background-position: 40% 40%;
  }
}

.bg-line {
  background-image: url('../../public/line.svg');
  background-repeat: no-repeat;
  background-position: 0 40px;
  height: 60px;
  display: inline-block;
}